<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="protobuf-net" publicKeyToken="257B51D87D2E4D67" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.470" newVersion="2.0.0.470"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
