<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="DistAppLogSection">
      <section name="Server" type="DistALServer.DistAppLogConfigurationSection,DistALServer" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <DistAppLogSection>
    <Server>
      <database dbprovider="DistALServer.DAL.RedisDataAccess" sqlConnectionString="" redisserver="127.0.0.1" redisdb="1"/>
      <communication tcpport="5560" webserverport="8081"/>      
    </Server>
  </DistAppLogSection>
</configuration>
