<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="DistAppLogSection">
      <section name="Server" type="DistALServer.DistAppLogConfigurationSection,DistALServer" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>
  <DistAppLogSection>
    <Server>
      <database dbprovider="DistALServer.DAL.RedisDataAccess" sqlConnectionString="" redisserver="127.0.0.1"/>
      <communication tcpport="5560"/>
    </Server>
  </DistAppLogSection>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
