<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="DistAppLogSection">
      <section name="Client" type="DistALClient.DistAppLogConfigurationSection,DistALClient" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <DistAppLogSection>
    <Client>      
      <server tcpport="5560" host="127.0.0.1" identity="ClientePrueba01"/>
    </Client>
  </DistAppLogSection>
</configuration>
